/* line 14, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 20, ../sass/style.scss */
body {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
}

/* line 27, ../sass/style.scss */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1vw;
  gap: 1vw;
  max-width: 1000px;
}

/* line 38, ../sass/style.scss */
figure {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  max-height: 25vh;
  height: 13.34524vw;
}

/* line 49, ../sass/style.scss */
figure > .image {
  position: relative;
  max-width: 1365px;
  width: 100vw;
  max-height: 100vh;
  top: 100%;
  left: 0;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-image: url("../images/ararak.jpg");
  background-size: 100vw 56.19048vw;
  animation-timing-function: ease-in-out;
  height: 100%;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(1) .image {
  background-position: 0vw 0vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(2) .image {
  background-position: -24.5vw 0vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(3) .image {
  background-position: -49vw 0vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(4) .image {
  background-position: -73.5vw 0vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(5) .image {
  background-position: 0vw -13.76667vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(6) .image {
  background-position: -24.5vw -13.76667vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(7) .image {
  background-position: -49vw -13.76667vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(8) .image {
  background-position: -73.5vw -13.76667vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(9) .image {
  background-position: 0vw -27.53333vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(10) .image {
  background-position: -24.5vw -27.53333vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(11) .image {
  background-position: -49vw -27.53333vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(12) .image {
  background-position: -73.5vw -27.53333vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1.1s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(13) .image {
  background-position: 0vw -41.3vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(14) .image {
  background-position: -24.5vw -41.3vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1.3s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(15) .image {
  background-position: -49vw -41.3vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1.4s;
}

/* line 70, ../sass/style.scss */
figure:nth-of-type(16) .image {
  background-position: -73.5vw -41.3vw;
  animation-name: slideIn;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

@keyframes slideIn {
  0% {
    top: 100%;
  }
  5% {
    top: 0%;
    left: 0;
  }
  30% {
    top: 0%;
    left: 0;
  }
  40% {
    left: 100%;
    top: 0;
  }
  40.00001% {
    left: 0;
    top: 100%;
    background-image: url("../images/ararak.jpg");
  }
  45.00001% {
    left: 0;
    top: 100%;
    background-image: url("../images/karen.jpg");
  }
  55% {
    top: 0%;
    background-image: url("../images/karen.jpg");
  }
  75% {
    top: 0%;
    background-image: url("../images/karen.jpg");
  }
  95% {
    top: 100%;
    background-image: url("../images/karen.jpg");
  }
  100% {
    top: 100%;
    background-image: url("../images/ararak.jpg");
  }
}
@media (min-width: 1017px) {
  /* line 104, ../sass/style.scss */
  body {
    display: none;
  }
}
