/* line 11, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-height: 100vh;
  max-width: 100vw;
}

/* line 25, ../sass/style.scss */
figure {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 14.04762vw;
  width: 25vw;
}

/* line 36, ../sass/style.scss */
figure > img {
  overflow: hidden;
  position: relative;
  max-width: 1365px;
  width: 100vw;
  max-height: 0;
  top: 100%;
  left: 0;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(1) img {
  object-position: 0vw 0vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(2) img {
  object-position: -25vw 0vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(3) img {
  object-position: -50vw 0vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.6s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(4) img {
  object-position: -75vw 0vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.9s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(5) img {
  object-position: 0vw -14.04762vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(6) img {
  object-position: -25vw -14.04762vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(7) img {
  object-position: -50vw -14.04762vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 1.8s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(8) img {
  object-position: -75vw -14.04762vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 2.1s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(9) img {
  object-position: 0vw -28.09524vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 2.4s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(10) img {
  object-position: -25vw -28.09524vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 2.7s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(11) img {
  object-position: -50vw -28.09524vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(12) img {
  object-position: -75vw -28.09524vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 3.3s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(13) img {
  object-position: 0vw -42.14286vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 3.6s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(14) img {
  object-position: -25vw -42.14286vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 3.9s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(15) img {
  object-position: -50vw -42.14286vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 4.2s;
}

/* line 55, ../sass/style.scss */
figure:nth-of-type(16) img {
  object-position: -75vw -42.14286vw;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 4.5s;
}

@keyframes slideIn {
  0% {
    max-height: 0;
    top: 100%;
  }
  100% {
    max-height: initial;
    top: 0%;
  }
}
